<body class="d-flex flex-column">

  <!-- Footer -->
  <footer class="background-footer">
    <div class="container-footer">
      <div class="row py-4">
        <ul>
          <p class="font-italic text-muted">© Maxisol, votre entreprise écoresponsable
          </p>
        </ul>
        <ul>
          <p><%= link_to "Espace Administrateur", new_user_session_path, class: "admin-space" %>
          </p>
        </ul>
      </div>
    </div>
  </footer>
  <!-- End -->

</body>
