<body class="d-flex flex-column">
<div class="green-line-footer">
</div>
  <!-- Footer -->
  <footer class="background-footer">
    <div class="container-footer">
      <div class="row py-4">
        <ul>
          <p class="maxisol-footer">© Maxisol, votre entreprise écoresponsable
          </p>
        </ul>
        <ul>
          <p class="admin-space"><%= link_to "Espace Administrateur", new_user_session_path, class: "admin-space" %>
          </p>
        </ul>
      </div>
    </div>
  </footer>
  <!-- End -->

</body>
