<body class="d-flex flex-column">

  <!-- Footer -->
  <footer class="background-footer">
    <div class="connected-footer">
      <div class = "copyright text-muted">
        © 2021 Maxisol all right reserved.
      </div>
    </div>
  </footer>
  <!-- End -->

</body>
