<body class="d-flex flex-column">
  <!-- Footer -->
  <footer class="background-footer">
    <div class="container-footer">
      <div class="row py-4" id="footer-color">

        <ul>

          <h3 class="footer-title mb-5">Maxisol</h3>
          <h4 class="footer-Produit mb-3">Produit</h4>
          <h6 class="footer-Solution mb-2">Solution</h6>
          <h6 class="footer-Devis mb-5">Devis</h6>
          <h4 class="footer-Entreprise mb-3">Entreprise</h4>
          <h6 class="footer-Qui-Sommes-nous mb-5">Qui sommes-nous ?</h6>

          <div class="footer-line mb-5 col-12">
          </div>

          <p class="maxisol-footer">© Maxisol - siège social : 7 Avneue de la république, 91430 IGNY</p>

          <p>Acceuil clientel : 9 impasse du 4 séptembre, 91430 IGNY</p>

        </ul>

        <ul>
          <p class="admin-space"><%= link_to "Espace Administrateur", new_user_session_path, class: "admin-space" %>
          </p>

        </ul>
      </div>
    </div>
  </footer>
  <!-- End -->

</body>
