<body class="d-flex flex-column">

  <!-- Footer -->
  <footer class="background-footer">
    <div class="container py-5">
      <div class="row py-4">
        <%# <div class="col-lg-4 col-md-6 mb-4 mb-lg-0"><%= image_tag("logo.png", class:"footer-logo") %>
          <p class="font-italic text-muted">© Maxisol, votre entreprise écoresponsable</p>
          <ul class="list-inline mt-4">
            <li class="list-inline-item"><a href="#" target="_blank" title="twitter"><i class="fab fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank" title="facebook"><i class="fab fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank" title="linkedin"><i class="fab fa-linkedin-in"></i></a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
          <h6 class="text-uppercase font-weight-bold mb-4">Comptables</h6>
          <ul class="list-unstyled mb-0">
            <li class="mb-2"><a href="#" class="text-muted">Présentation</a></li>
            <li class="mb-2"><a href="#" class="text-muted">Services</a></li>
            <li class="mb-2"><a href="#" class="text-muted">Tarifs</a></li>
            <li class="mb-2"><a href="#" class="text-muted">Blog</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
          <h6 class="text-uppercase font-weight-bold mb-4">Entreprises</h6>
          <ul class="list-unstyled mb-0">
            <li class="mb-2"><a href="#" class="text-muted">Présentation</a></li>
            <li class="mb-2"><a href="#" class="text-muted">Parrainez votre comptable</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-6 mb-lg-0">
          <h6 class="text-uppercase font-weight-bold mb-4">Newsletter</h6>
          <p class="text-muted mb-4">Rejoignez le groupe d'élites qui se sont également inscrites à notre liste de diffusion</p>
          <div class="p-1 rounded border">
            <div class="input-group">
              <input type="email" placeholder="Votre adresse email" aria-describedby="button-addon1" class="form-control border-0 shadow-0">
              <div class="input-group-append">
                <button id="button-addon1" type="submit" class="btn btn-link"><i class="fa fa-paper-plane"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container text-center">
        <p class="text-muted mb-0 py-2">© 2021 Countify All rights reserved.</p>
      </div>
      <div>
        <p><%= link_to "Espace Administrateur", new_user_session_path, class: "admin-space" %></p>
      </div>
    </div>
  </footer>
  <!-- End -->

</body>
