<div class="main-cards-dash-container">

    <div class="ajouter-photos-dash">

      <div class="banner-dash" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(../assets/Deniz_Jules.jpg)">
        <div class="container">
          <h1>Ajoutez vos photos <strong class="underline">Maxisol</strong> ici !</h1>
          <p>Importez vos photos en 1 click</p>
          <a class="btn btn-ghost" href="/posts/new">Ajouter des photos</a>
        </div>
      </div>

    </div>
</div>

