<div class="banner">
  <div class="contact-us">
    <%= link_to 'Contactez-nous' , '#' %>
    <%# <i class="fas fa-arrow-down"></i> %>
  </div>
</div>

<div class="main-container-1">
  <div class="title-votre-isolation">
    <h2>Votre isolation</h2>
  </div>
  <div class="cards-isolation">
    <div class="card-mon-besoin">
      <h4>Mon besoin</h4>
    </div>
    <div class="card-ma-plus-value">
      <h4>Ma plus value</h4>
    </div>
    <div class="card-pourquoi-maxisol">
      <h4>Pourquoi Maxisol ?</h4>
    </div>
  </div>
</div>

<div class="main-container-2">
  <div class="title-prise-en-charge">
    <h2> La prise en charge</h2>
  </div>
  <div class="cards-prise-en-charge">
    <div class="card-qui-prend-en-charge">
      <h4>Qui prend en charge mes travaux</h4>
    </div>
    <div class="card-je-paie-combien">
      <h4>Au final je paie combien ?</h4>
    </div>
  </div>
</div>


