<div class="banner">
  <%# <div class="text-description">
    <h1>HomePage</h1>
    <h2>Votre isolation thermique exterieure financé par l'état avec Maxisol</h2>
    <a href="#anchor1" class="button-how-it-works">Comment ça marche ?</a>
    <%= link_to "Contacter nous", "#", class:"button-contact"%>
  <%# </div> %>
</div>

