<h1 class="espace-admin" m-5 ><%= link_to "Espace Administrateur", new_user_session_path, class: "admin-space" %></h1>


<%# <% if current_page?(new_user_session_path) %>
  <%# <%= render 'shared/navbar' %>
<%# <% end %>
