

<h1>Voici la page des Tarifs</h1>

<table>
  <thead>
    <tr>
      <th class="th-sm">
        <div class="title-header">
          <p>MaPrimRénov'Bleu</p>
        </div>
      </th>
      <th class="th-sm">
        <div class="title-header">
          <p>MaPrimRénov'Jaune</p>
        </div>
      </th>
      <th class="th-sm">
        <div class="title-header">
          <p>MaPrimRénov'Violet</p>
        </div>
      </th>
      <th class="th-sm">
        <div class="title-header">
          <p>MaPrimRénov'Rose</p>
        </div>
      </th>
    </tr>
  </thead>

  <tbody>
    <td>
      <p class="Ptable mt-3">jusqu'à 14 879 €</p>
      <p>jusqu'à 21 760 €</p>
      <p>jusqu'à 26 170 €</p>
      <p>jusqu'à 30 572 €</p>
      <p>jusqu'à 34 993 €</p>
    </td>
    <td>
      <p class="Ptable mt-3">jusqu'à 19 074 €</p>
      <p>jusqu'à 27 896 €</p>
      <p>jusqu'à 33 547 €</p>
      <p>jusqu'à 39 192 €</p>
      <p>jusqu'à 44 860 €</p>
    </td>
    <td>
      <p class="Ptable mt-3">jusqu'à 29 148 €</p>
      <p>jusqu'à 42 848 €</p>
      <p>jusqu'à 51 592 €</p>
      <p>jusqu'à 60 336 €</p>
      <p>jusqu'à 69 081 €</p>
    </td>
    <td>
      <p class="Ptable mt-3">> 29 148 €</p>
      <p>> 42 848 €</p>
      <p>> 51 592 €</p>
      <p>> 60 336 €</p>
      <p>> 69 081 €</p>
    </td>
  </tbody>
</table>
