.banner {
  height: 100vh;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(20,136,122,1) 100%);
  .text-description{
    width: 800px;
    padding-left: 75px;
    h1 {
      color: white;
      font-size: 56px;
      padding-top: 100px;
      margin-bottom: 40px;
      margin-left: 64px;
    }
    h2{
      color: white;
      font-size: 25px;
      font-weight: normal;
      margin-bottom: 56px;
      margin-left: 64px;
      line-height : 1.2em;
    }
  }
}
