
.btn-success {
  background-color: #19C879;
  border-color: none;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  transition: 0.5s;
  padding-top: 12px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 16px;

  &:hover {
    background-color: #25E48E;
  }

  a{
    text-decoration: none;
    color: white;
  }
}


.btn-dark {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  transition: 0.5s;
  padding-top: 12px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 16px;


  a {
    text-decoration: none;
    color: white;
  }
}

.ButtonGrid-2 {
  // margin-top: 3%;
  justify-content: center;
  margin: auto;
}

.ButtonGrid-3 {

  justify-content: center;
  margin: auto;
}

// @media only screen and (min-width: 950px) and (max-width: 1600px) {

//   .ButtonGrid-2 {
//     margin-top: 5%;
//   }

//   .ButtonGrid-3 {
//     margin-top: 3%;
//   }

// }
