
// #contact-us {
  // background-color: #3E7A42;
//   // margin: auto auto;
//   border-radius: 10px;
//   border: solid 1px black;
//   margin-top: 40%;
//   padding: 15px;
//   font-weight: lighter;
//   color: white;
//   font-size: 22px;
//   width: 18%;
//   transition: 0.5s;
//   display: flex;
  // box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
//   // align-content: flex-end;
//   justify-content: center;

//   a {
//     text-decoration: none;
//     color: white;
//   }

//   &:hover {
//     background-color: #3E7A42;
//     color: white;
//   }
// }

.btn-success {
  background-color: #23954D;
  border-color: none;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);

  a{
    text-decoration: none;
    color: white;
  }
}


.btn-dark {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  transition: 0.5s;


  a {
    text-decoration: none;
    color: white;
  }
  // &:hover {
  //   box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
  //   padding: 12px;
  // }
}
// .contact-us-navbar {
//   background-color: #3E7A42;
//   border-radius: 10px;
//   color: white;
//   font-size: 24px;
//   width: 16%;
//   justify-content: center;
//   border: solid 1px black;
//   padding: 14px;
//   box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
//   transition: 0.5s;

//   a {
//     text-decoration: none;
//     color: white;
//     padding-left: 32px;
//   }

//   &:hover {
//     background-color: #3E7A42;
//     color: white;
//     box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
//     padding: 12px;
//   }
// }
