.pain-points {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 64px;
  margin-top: 64px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 22%);

  column-gap: 4%;
  justify-content: center;


  .element-grid {
    padding: 16px 4px 8px 4px;
    // background-color: d;
    text-align: center;
    background-color: white;
    i {
      font-size: 32px;
      margin-bottom: 16px;
    }
    p {
      font-size: 16px;
      font-weight: 250;
      margin: 16px 4px 8px 4px;
    }
    box-shadow: $box-shadow-home;
    border-radius: 8px;
    // width: 200px;
  }

}

.citation-card {
  overflow: hidden;
  height: 220px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  width: 85%;
  justify-content: center;
  border-radius: 10px;
  margin: auto;
}

// .card-text-énérgie {
//   text-align: center;
// }

.div-text {
  text-align: center;
  display: block;
  margin: auto;
}

.trop-froid-card {
  // background-size: cover;
  object-fit: contain;
  background-position: center;
  border-radius: 3px;
  margin-top: 10%;
  margin-bottom: 5%;
  border: solid 1px;
  border-color: black;
  // position: relative;
  height: 220px;
  filter: drop-shadow(2px 3px 4px rgba(0, 0, 0, 0.25));
  // background-image: asset-url("froid.png");
}

.trop-chaud-card {
  background-size: cover;
  object-fit: contain;
  background-position: center;
  border-radius: 3px;
  margin-top: 10%;
  margin-bottom: 5%;
  border: solid 1px;
  border-color: black;
  // position: relative;
  height: 220px;
  filter: drop-shadow(2px 3px 4px rgba(0, 0, 0, 0.25));
  background-image: asset-url("chaud.png");
}

.perte-energie-card {
  background-size: cover;
  object-fit: contain;
  background-position: center;
  background-image: asset-url("energie.png");
  border-radius: 3px;
  margin-top: 10%;
  margin-bottom: 5%;
  border: solid 1px;
  border-color: black;
  // position: relative;
  height: 220px;
  filter: drop-shadow(2px 3px 4px rgba(0, 0, 0, 0.25));

}
.moisisur-card {
  background-size: cover;
  object-fit: contain;
  background-position: center;
  background-image: asset-url("moisissure.png");
  border-radius: 3px;
  margin-top: 10%;
  margin-bottom: 5%;
  border: solid 1px;
  border-color: black;
  // position: relative;
  height: 220px;
  filter: drop-shadow(2px 3px 4px rgba(0, 0, 0, 0.25));
}


// .row-froid  {
//   width: 100%;
// }
// .row-chaud  {
//   width: 100%;
// }
// .row-energie  {
//   width: 100%;
// }
// .row-moisisur {
//   width: 100%;
// }


// @media only screen and (min-width: 768px) {

//   .card-text-froid {
//     display: flex;
//     flex-direction: row;
//     box-sizing: border-box;
//     margin-left: 5%;

//     p {
//       margin-left: 40%;
//       font-size: larger;
//     }
//   }
//   .trop-froid-card {
//     margin-top: 0;
//     margin-bottom: 0;
//   }

// }

 //css pour les card que je n'utilise  plus mais pour les flew row ...je garde au cas ou
.title-votre-isolation {
  display: flex;
  justify-content: center;
  margin-top: 96px;
  margin-bottom: 86px;

}

.cards-isolation {
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  text-align: center;

  h4 {
    padding-top: 30px;
  }

}

.card-mon-besoin {
  width: 403px;
  height: 359px;
  left: 62px;
  top: 325px;

  background: #FFFFFF;
  border: 2px solid #3E7A42;
  box-sizing: border-box;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}
.card-ma-plus-value {
  width: 403px;
  height: 359px;
  left: 62px;
  top: 325px;

  background: #FFFFFF;
  border: 2px solid #3E7A42;
  box-sizing: border-box;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}
.card-pourquoi-maxisol {
  width: 403px;
  height: 359px;
  left: 62px;
  top: 325px;

  background: #FFFFFF;
  border: 2px solid #3E7A42;
  box-sizing: border-box;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.title-prise-en-charge {
  display: flex;
  justify-content: center;
  margin-top: 96px;
  margin-bottom: 86px;

}

.card-qui-prend-en-charge {
  width: 512px;
  height: 401px;
  left: 132px;
  top: 300px;

  background: #FFFFFF;
  border: 2px solid #3E7A42;
  box-sizing: border-box;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}
.card-je-paie-combien {
  width: 512px;
  height: 401px;
  left: 132px;
  top: 300px;

  background: #FFFFFF;
  border: 2px solid #3E7A42;
  box-sizing: border-box;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.cards-prise-en-charge {
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  text-align: center;

  h4 {
    padding-top: 30px;
  }

}

.main-container-gallery{
  height: 100%;
  width: 100%;
}

.h1-gal-visitor{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7%;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  // grid-template-columns: repeat(auto-fill, 22%);
  // column-gap: 3%;
  grid-gap: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
  margin-top: 5%;
  padding: 0 !important;
  position: 0 !important;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 220px;
  width: 310px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  &:hover {
    // background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.0));
    opacity: none;
  }
  .galery-link{
    text-decoration: none;
    color: white;
  }
}

.cards-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.row {
  padding: 0 !important;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}



