.citation-card {
  overflow: hidden;
  height: 220px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  width: 85%;
  justify-content: center;
  border-radius: 10px;
  margin: auto;
}

// .card-text-énérgie {
//   text-align: center;
// }

.div-text {
  text-align: center;
  display: block;
  margin: auto;
}

.trop-froid-card {
  background-size: cover;
  object-fit: contain;
  background-position: center;
  border-radius: 3px;
  margin-top: 10%;
  margin-bottom: 5%;
  border: solid 1px;
  border-color: black;
  // position: relative;
  height: 220px;
  filter: drop-shadow(2px 3px 4px rgba(0, 0, 0, 0.25));
  background-image: asset-url("froid.png");
}

.trop-chaud-card {
  background-size: cover;
  object-fit: contain;
  background-position: center;
  border-radius: 3px;
  margin-top: 10%;
  margin-bottom: 5%;
  border: solid 1px;
  border-color: black;
  // position: relative;
  height: 220px;
  filter: drop-shadow(2px 3px 4px rgba(0, 0, 0, 0.25));
  background-image: asset-url("chaud.png");
}

.perte-energie-card {
  background-size: cover;
  object-fit: contain;
  background-position: center;
  background-image: asset-url("energie.png");
  border-radius: 3px;
  margin-top: 10%;
  margin-bottom: 5%;
  border: solid 1px;
  border-color: black;
  // position: relative;
  height: 220px;
  filter: drop-shadow(2px 3px 4px rgba(0, 0, 0, 0.25));

}
.moisisur-card {
  background-size: cover;
  object-fit: contain;
  background-position: center;
  background-image: asset-url("moisissure.png");
  border-radius: 3px;
  margin-top: 10%;
  margin-bottom: 5%;
  border: solid 1px;
  border-color: black;
  // position: relative;
  height: 220px;
  filter: drop-shadow(2px 3px 4px rgba(0, 0, 0, 0.25));
}

// .row-froid  {
//   width: 100%;
// }
// .row-chaud  {
//   width: 100%;
// }
// .row-energie  {
//   width: 100%;
// }
// .row-moisisur {
//   width: 100%;
// }


// @media only screen and (min-width: 768px) {

//   .card-text-froid {
//     display: flex;
//     flex-direction: row;
//     box-sizing: border-box;
//     margin-left: 5%;

//     p {
//       margin-left: 40%;
//       font-size: larger;
//     }
//   }
//   .trop-froid-card {
//     margin-top: 0;
//     margin-bottom: 0;
//   }

// }

 //css pour les card que je n'utilise  plus mais pour les flew row ...je garde au cas ou
.title-votre-isolation {
  display: flex;
  justify-content: center;
  margin-top: 96px;
  margin-bottom: 86px;

}

.cards-isolation {
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  text-align: center;

  h4 {
    padding-top: 30px;
  }

}

.card-mon-besoin {
  width: 403px;
  height: 359px;
  left: 62px;
  top: 325px;

  background: #FFFFFF;
  border: 2px solid #3E7A42;
  box-sizing: border-box;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}
.card-ma-plus-value {
  width: 403px;
  height: 359px;
  left: 62px;
  top: 325px;

  background: #FFFFFF;
  border: 2px solid #3E7A42;
  box-sizing: border-box;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}
.card-pourquoi-maxisol {
  width: 403px;
  height: 359px;
  left: 62px;
  top: 325px;

  background: #FFFFFF;
  border: 2px solid #3E7A42;
  box-sizing: border-box;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.title-prise-en-charge {
  display: flex;
  justify-content: center;
  margin-top: 96px;
  margin-bottom: 86px;

}

.card-qui-prend-en-charge {
  width: 512px;
  height: 401px;
  left: 132px;
  top: 300px;

  background: #FFFFFF;
  border: 2px solid #3E7A42;
  box-sizing: border-box;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}
.card-je-paie-combien {
  width: 512px;
  height: 401px;
  left: 132px;
  top: 300px;

  background: #FFFFFF;
  border: 2px solid #3E7A42;
  box-sizing: border-box;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.cards-prise-en-charge {
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  text-align: center;

  h4 {
    padding-top: 30px;
  }

}



