.container-footer {
  display: flex;
  // justify-content: space-between;
  padding: 20px;
}

.main-container-3 {
  background-color: #EFFBF4;
  width: 100%;
  // height: 113vh;
  flex-direction: column;
  padding: 34px;
}

.main-container-2 {
  background-color: white;
  width: 100%;
  // height: 156vh;
}

.main-container-1 {
  background-color: #EFF4FB;
  width: 100%;
  // height: 113vh;
  flex-direction: column;
}

.title-rencontre {
  text-align: center;
  margin-top: 10%;
}

.title-mes-mures {
  text-align: center;
  margin-top: 10%;
}
.title-solution {
  text-align: center;
  margin-top: 10%;
}

.video-1 {
  margin: auto;
}

.Video-Clement {
  margin-top: 10%;
}

.text-cont-1 {
  margin-top: 10%;
  text-align: center;
}

.citation-card-containter {
  margin-top: 8%;
}

.container-cards {
  justify-content: center;
  padding: 5%
}

.container-cards-solution {
  justify-content: center;
  text-align: center;
}
.container-cards-rencontre {
  justify-content: center;
  text-align: center;
}


@media only screen and (min-width: 500px) {

  .title-rencontre {
    margin-top: 5%;
    font-size: 20px;
  }

  .Video-Clement {
    margin-top: 4%;
  }

  .text-cont-1 {
    margin-top: 3%;
  }

  .citation-card-containter {
    margin-top: 4%;
  }
}

@media only screen and (min-width: 768px) {

  .main-container-1 {
    height: 100%;
  }

  .main-container-2 {
    height: 100%;

    h3 {
      font-size: 2.25em !important;
    }
  }

  .container-cards{
    // padding: 15%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: center;
  }

  .title-mes-mures {
    text-align: center;
    margin-top: 5%;
  }

  .video-1 {
    width: 640px;
    height: 380px;
  }

  .title-rencontre {
    font-size: 20px;
    margin-top: 3%;
  }
  .ButtonGrid-2 {
    margin-bottom: 5%;
  }


}

@media only screen and (max-width: 768px) {
  .cards-cont2 {
    justify-content: center;
  }
}

@media only screen and (min-width: 500px) and (max-width: 768px) {

  .video-1 {
    width: 480px;
    height: 300px;
  }

  .title-rencontre {
    font-size: 15px;
    margin-top: 3%;
  }
}

@media only screen and (min-width: 750px) and (max-width: 950px) {
    .text-cont-1 {
    font-size: 20px;
  }
}

@media only screen and (min-width: 950px) {
    .text-cont-1 {
      font-size: 30px;
  }
}
