// .form-control::placeholder {
//   font-size: 0.95rem;
//   color: #aaa;
//   font-style: italic;
// }

// .form-control.shadow-0:focus {
//   box-shadow: none;
// }
// .fab {
//   color: $violet;
// }

// .fa {
//   color: $violet;
// }
.green-line-footer {
  background: #3E7A42;
  height: 10px;
  width: 110%;
  transform: skewY(-8deg);
  transform: skewX(8deg);
  margin-top: 68px;
  padding-top: 23px;

  transform-origin: bottom right;
}

.background-footer {
  background: #1A3E74;
  height: 50px;
  width: 100%;
  height: 40%;
  transform: skewY(-6deg);
  transform-origin: bottom right;
  // position: relative;
  // bottom: 0;
  // width: 100%;
  .admin-space {
    letter-spacing: .0625rem;
    color: white;
    font-size: 15px;
    text-decoration: none;

    &:hover {
    color:#203C46;
    text-decoration: none;
  }
  }
  .maxisol-footer {
    letter-spacing: .0625rem;
    color: white;
    font-size: 15px;
  }
}

// // .footer-logo {
// //   height: 72px;
// // }

// .connected-footer{
//   display: flex;
//   justify-content: center;
//   .copyright{
//     margin-top: 25px;
//     padding: 20px;
//   }
// }
