#navbar-unconnected {

  padding: 66px 36px;
  justify-content: space-between;
  z-index: 5;
  background: #1A3E74;
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0px;
  border-bottom: solid 8px #3E7A42;
  transition: 0.4s;

  .nav-flex a {
    letter-spacing: .0625rem;
    padding-left: 50px;
    padding-right: 50px;
    text-decoration: none;
    color: white;
    font-size: large;
      &:hover {
        color:#3E7A42;
        text-decoration: none;
      }
  }

}

.green-line {
    background: #3E7A42;
    height: 10px;
    width: 110%;

    // transform: skewY(-8deg);
    // transform: skewX(8deg);
    // margin-top: 68px;
    // padding-top: 23px;
    // transform-origin: top left;
  }

.nav-title {
  margin-top: 16px;
  letter-spacing: .0625rem;
  display: flex;
  justify-content: center;
  color: white;
  padding-bottom: 10px;
  // font-weight: bolder;
  // font-family:'Khand' ;
}


.nav-flex {
  display: flex;
  justify-content: space-around;
}


