.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  // margin-top: 145px;

  // position: relative;
  // position: sticky;
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;

}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
