.nav-item .scroll {
  color: white!important;
}

.navbar.scroll {
  background-color: white!important;
  transition: all 0.25s ease-in-out;
  // padding: 0.5rem 1rem
}

.sticky-top {
  background-color: #2A62B7;
  position: sticky;
  transition: all 0.25s ease-in-out;
}

@media only screen and (max-width: 950px) {

  #navbarSupportedContent {
    width: 100vw;
    height: 100vh;

  }

  a {
    font-size: 0.80em !important;
  }

  .btn-success {
    margin-top: 38px;
  }
}

@media only screen and (min-width: 950px) and (max-width: 1600px) {

  .navbar-lewagon .navbar-brand img {
      width: 100px;
  }


  .navbar {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: -5px;
    margin-bottom: -5px;
  }
  .nav-items {
    display: flex;
    justify-content: space-between;
    margin: 12px;

  }

  .nav-item {
    margin-right: 18px;
  }

  .btn-dark {


    a {
      font-size: 0.80em !important;
    }

  }

}

